# 忽略Python编译后的字节码文件
*.pyc
__pycache__/

# 忽略Windows临时文件
Thumbs.db
.DS_Store

# 忽略虚拟环境
venv/
env/
venv3/
env3/
.python-version

# 忽略FastAPI/Uvicorn日志和缓存
uvicorn.log*
.app/
.build/

# 忽略数据库相关文件
*.db
db.sqlite3
instance/
.migrations/

# 忽略开发过程中的静态文件和媒体文件
media/
static/

# 忽略个人配置和密钥
.env
.env.*
secrets/
#config.py
#config.json

# 忽略IDE和编辑器相关文件
.idea/
.vscode/
*.suo
*.njsproj
*.sln
*.user
*.sublime-workspace
*.launch
*.log
*.session
*.factory
*.iml

# 忽略测试相关文件
.nox/
.coverage
.coverage.*
.cache/
htmlcov/
*.egg-info/
.tox/
build/
dist/
reports/
tests/__pycache__/
tests/.pytest_cache/

# 忽略Docker相关文件
.dockerignore
Dockerfile~
docker-compose.yml~
docker-compose.yaml~
docker-compose.override.yml~
docker-compose.override.yaml~

# 忽略SQLAlchemy和SQLModel相关文件
alembic.ini
alembic/
migrations/